<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class= 'container'>
  <%= link_to 'Finance Tracker', root_path, class: 'text-white navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <% if current_user %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item <%= 'active' if request.path == users_my_portfolio_path %>">
      <%= link_to "Stock Portfolio", users_my_portfolio_path, :class => 'nav-link'  %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%=link_to edit_user_registration_path, class: 'dropdown-item' do%> 
          <%= fa_icon 'edit'%> Edit Profile
          <% end %>
           <%=link_to friendships_friend_list_path, class: 'dropdown-item' do%> 
          <%= fa_icon 'user'%> Friends
          <% end %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
     <ul class="navbar-nav ml-auto">
     <li class= "text-white mt-2 mr-2">
     <%= fa_icon 'user' %> <%= current_user.full_name %>
     </li>
       <li>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'text-white btn btn-danger mr-3'  %>
      </li>
     </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <% end %>
  </div>
</nav>